body{
    color: #A8A9B4;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(90deg,#0A0D28 0%, #1D1D1F 100%);
}

h2:after,
h3:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #C8E980;
    bottom: 0;
    margin-top: 5px;
    left: 0;
}
span{
    color: #44c1ca;
}

.top_header{
    width:100%;
    height: 60px;
    display: flex;
    align-items: center;
    top: 0px;
    position: sticky;
    z-index: 1;
    
    
}
.logo{
    
    width: 12%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("assets/images/logo.png");
    box-sizing: border-box;
}



/* Navigation Bar Section */

/* .nav_bar{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c5d9e2;
    position: sticky;
    top: 0px;
    font-weight: bold;
    z-index: 1;
   
    
}
.nav_bar:hover{
    background-color: #4472CA;
    transition: 3s;
}
.nav_bar li a{
    color: #1D1D1F;
    text-decoration: none;
    
}
li a:hover{
    color: #A8A9B4;
    border-bottom: 1px solid green;
    transition: 1s;
} */

h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight:bold;
    font-size: 30px;
    color: #ffff;
}
h3{
    font-family: Verdana;
}

.big_header{
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/header4.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    z-index: -1;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.big_header>h1{
    margin: 0px;
    font-size: 50px;
    color: #A8A9B4;
}






  










/* ----About Section---- */




#about_container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Services We Offer */

#service_big_box{
    width: 80%;
   display: grid;
   grid-template-columns: auto auto;
   row-gap: 2em;
   
}

.service_small_box{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #A8A9B4;
    border-radius: 5px;
    border-bottom:5px solid #0A0D28;
}
.sq{
    width: 98%;
    height: 32px;
    text-align: center;
    background-color: #0A0D28;
}
#tri_up{
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 0;
    border-bottom: 21.5px solid #0A0D28;
}

#tri_down{
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 21.5px solid #0A0D28;;
    border-bottom: 0px;
}

.hex{
    width: 70px;
    height: 80px;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-30px);
    box-sizing: border-box;
}
.fa-book-open{
    color: white;
    font-size: 30px;
    transform: rotateZ(90deg);
}

.topic{
    width: 100%;
    height: auto;
    color: #1D1D1F;
}




.mission_container{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    background-size: cover;
}
.mission{
    width: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 5px #A8A9B4;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
    background: linear-gradient(109.26deg, rgba(6, 5, 21, 0.8) 1.57%, rgba(144, 144, 146, 0.1) 142.12%);
    opacity: 0.4;

}

.fa-bullseye{
    font-size: 150px;
    
}

.fa-lightbulb{
    font-size: 150px;
    
}

/* Course we Offer */


.course_slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
   
  }

  
  .course_slider {
    width: 100%;
    /* max-width: 1000px; */
    height: 400px;
    margin: 20px;
    text-align: center;
    /* border-radius: 20px; */
    overflow: hidden;
    position: relative;
    background-color: #0B1138;
    
    
  }
  
  .course_slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  
  
  .course_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
   
    transform-origin: center center;
    transform: scale(1);
    
  }
  .course_slidepart{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  
  
  
  .course_slide a {
    border: none;
  }
  
  a.course_slide__prev,
  .course_slider::before {
    left: 1%;
  }

  
  a.course_slide__next,
  .course_slider::after {
    right: 2%;
  }
  
  .course_slider::before,
  .course_slider::after,
  .course_slide__prev,
  .course_slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    padding: 3px;
    box-sizing: border-box;
  }
  .fa-circle-chevron-left{
    font-size: 40px;
    color: white;
  }
  .fa-circle-chevron-right{
    font-size: 40px;
    color: white;
  }
  
  .course_slider::before,
  .course_slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  
    .test_course_title >h4{
        color: #4472CA;
    }
    .test_course_title >p{
        color: #1D1D1F;
    }
    .test_course{
        width: 35%;
        height: auto;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffff;
        
        
    }
    .test_course_details{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    .test_course_pic{
        width: 40%;
        height: 150px;
        background-image: url("assets/images/fedinand/ani2.jpeg");
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }
    .test_course_title{
        width: 50%;
        height: auto;
    }
    .test_watch{
        width: 30%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #4472CA;
        font-weight: bold;
        border-radius: 5px;
        font-size: 12px;
        color: white;
    }
    .test_watch:hover{
        color: #fff;
        background-color: #44c1ca;
        transition: 1s;
    }
    .test_play{
        width: 100%;
        height: 100%;
        font-size: 400%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #A8A9B4;
        background-color: #00000061;
        text-decoration: none;
    }
    .playing{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 20px;
       
    }


/* Team Section */

.team_container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}


.team_mates_details{
    width: 80%;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0,0.2);

}
.team_mate{
    width: 25%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0,0.09);
    box-sizing: border-box;
    padding-top: 5%;
}

.team_info{
    width: auto;
    height: auto;
    
}


.team_pic{
    width: 70%;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/team8.jpg");
    border-radius: 5px;
}


.slider-container {
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
  }

  
  .slider {
    width: 100%;
    /* max-width: 1000px; */
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
 
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
   
    transform-origin: center center;
    transform: scale(1);
    
  }
  .slidepart{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  
  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
    
    left: 5%;
  }

  
  a.slide__next,
  .slider::after {
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    padding: 3px;
    box-sizing: border-box;
  }
  .fa-circle-chevron-left{
    font-size: 40px;
    color: white;
  }
  .fa-circle-chevron-right{
    font-size: 40px;
    color: white;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: -1%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
    }
  



/* Event Section */
.event_container{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.events{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event_pic{
    width: 30%;
    height: 170px;
    background-image: url("assets/images/header2.jpg");
    background-size: cover;
    background-position: center;
}
.event_details{
    width: 65%;
}
.event_details > h4{
    margin-top: 0px;
    height: 10px;
}
p{
    font-size: 15px;
}





  /* Footer Section */

.footer{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 } 
 

.footer_child{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;
    
}

.social_links{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A8A9B4;
    background-color: rgba(69, 70, 70, 0.685);
    text-decoration: none;
}
.footer .fa-brands{
    font-size: 20px;
}
.facebook{
 background-color: blue;
}
.twitter{
    background-color: rgb(0, 162, 255);
}
.linkedin{
    background-color: rgb(15, 123, 173);
}
.instagram{
    background-color: purple;
}
.youtube{
    background-color: red;
}

.footer_child_2{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
.link{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A8A9B4;
    text-decoration: none;
    box-sizing: border-box;
}

.copyright{
    margin-top: 50px;
}
.copyright span{
    color: #37b3ed;
}


@media screen and (max-width:992px){
    #about_container{
        height: 1200px;
        justify-content: space-evenly;
    }
    #service_big_box{
        margin-left: 10%;
        grid-template-columns: auto;
    }

    .mission_container{
        height: 900px;
        
        
    }
    .mission{
        height: 400px;
       
    }
    .fa-bullseye{
        height: 50px;
        font-size: 70px;
    }
    .fa-lightbulb{
        height: 50px;
        font-size: 70px;
    }
    
}
