body{
    color: #A8A9B4;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(90deg,#0A0D28 0%, #1D1D1F 100%);
}
.top_header{
    width:100%;
    height: 80px;
    display: flex;
    align-items: center;
    top: 1px;
    position: sticky;
    /* background-color: rgb(49, 50, 51); */
    z-index: 5;
}
.logo{
    
    width: 12%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("assets/images/logo.png");
    box-sizing: border-box;
}

.big_header{
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/header4.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
}
.big_header>h2{
    z-index: 1;
    margin: 0px;
    font-size: 300%;
    color: #A8A9B4;
}



/* .founder_profile{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}
.founder_pic{
    width: 30%;
    height: 400px;
    background-image: url("assets/images/founder.jpeg");
    background-size:320px 440px;
    background-position: center;
    border-radius:200px;
    border: 10px solid rgb(59, 59, 59);

}
.founder_pic:hover{
    transition: 1s;
    background-size:330px 450px;
}

.founder_about p{
    text-align: left;
    font-size: 150%;
    padding-left: 6%;
    margin: 0px;
}
.founder_about h6{
    text-align: left;
    font-size: 100%;
    padding-left: 7%;
    margin: 0px;
}
.founder_about{
    width: 40%;
    height: 200px;
    margin-left: -2%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.185);
    justify-content: space-evenly;
}
.social_accounts{
    
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
        

}
.social_link{
    color: #A8A9B4;
    width: 12%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    text-decoration: none;
}
.social_link:hover{
    transition: 1s;
    transition-timing-function: ease;
    background-color: #37b3ed;
} */






/* ----About Section---- */
.about_container{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mission >h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,#149ddd,white,#149ddd);
    bottom: 0;
    left: 0;
}




.container{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    /* background-image: url("assets/images/backgrounds/bg-79.jpg"); */
    background-size: cover;
}
.mission{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #A8A9B4;
}

.mission >h2{
    font-size: 250%;
    color: #37b3ed;
    text-align: center;
}
.mission >h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,#149ddd,white,#149ddd);
    bottom: 0;
    left: 0;
}
.fa-bullseye{
    font-size: 1000%;
    height: 200px;
}
.vision{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #A8A9B4;
}
.vision >h2{
    font-size: 250%;
    color: #37b3ed;
    text-align: center;
}
.vision >h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,#149ddd,#A8A9B4,#149ddd);
    bottom: 0;
    left: 0;
}
.fa-lightbulb{
    font-size: 1000%;
    height: 200px;
}


/* Courses we offer */

.offer_container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.offer_container h2{
    font-size: 150%;
}
.offer_container >h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,#149ddd,#A8A9B4,#149ddd);
    bottom: 0;
    left: 0;
}
.courses{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.course{
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.course_details{
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.course_pic{
    width: 40%;
    height: 80%;
    background-image: url("assets/images/fedinand/ani2.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic2{
    width: 40%;
    height: 80%;
    background-image: url("assets/images/fedinand/bio1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic3{
    width: 40%;
    height: 80%;
    background-image: url("assets/images/fedinand/biochem4.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic4{
    width: 40%;
    height: 80%;
    background-image: url("assets/images/fedinand/chem1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic5{
    width: 40%;
    height: 80%;
    background-image: url("assets/images/fedinand/micro1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic6{
    width: 40%;
    height: 80%;
    background-image: url("assets/images/fedinand/phy1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_title{
    width: 50%;
    height: 100%;
}
.watch{
    width: 40%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1D1D1F;
    font-weight: bold;
    border-radius: 10px;
    color: #A8A9B4;
}
.watch:hover{
    color: #1D1D1F;
    background-color: #ca7e1b;
    transition: 1s;
}


/* Team Section */

.team_container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
}
.team_container h2{
    font-size: 150%;
}
.team_container >h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,#149ddd,#A8A9B4,#149ddd);
    bottom: 0;
    left: 0;
}
.team_mates_details{
    width: 80%;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0,0.2);

}
.team_mate{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0,0.09);
}
/* .user_pic{
    width: 20%;
    height: 300px;
} */
.fa-user{
    font-size: 1500%;
}
.name{
    width: 70%;
    height: 50px;
    background-color: #a8a9b452;
    border-radius: 10px;
}
.dept{
    width: 70%;
    height: 50px;
    background-color: #a8a9b452;
    border-radius: 10px;
}