body{
    color: #A8A9B4;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(90deg,#0A0D28 0%, #1D1D1F 100%);
}
.top_header{
    width:100%;
    height: 80px;
    display: flex;
    align-items: center;
    top: 1px;
    position: sticky;
    /* background-color: rgb(49, 50, 51); */
    z-index: 5;
}
.logo{
    
    width: 12%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("assets/images/logo.png");
    box-sizing: border-box;
}

.big_header{
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/header4.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
}
.big_header>h2{
    z-index: 1;
    margin: 0px;
    font-size: 50px;
    color: #A8A9B4;
}



/* .founder_profile{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}
.founder_pic{
    width: 30%;
    height: 400px;
    background-image: url("assets/images/founder.jpeg");
    background-size:320px 440px;
    background-position: center;
    border-radius:200px;
    border: 10px solid rgb(59, 59, 59);

}
.founder_pic:hover{
    transition: 1s;
    background-size:330px 450px;
}

.founder_about p{
    text-align: left;
    font-size: 150%;
    padding-left: 6%;
    margin: 0px;
}
.founder_about h6{
    text-align: left;
    font-size: 100%;
    padding-left: 7%;
    margin: 0px;
}
.founder_about{
    width: 40%;
    height: 200px;
    margin-left: -2%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.185);
    justify-content: space-evenly;
}
.social_accounts{
    
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
        

}
.social_link{
    color: #A8A9B4;
    width: 12%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    text-decoration: none;
}
.social_link:hover{
    transition: 1s;
    transition-timing-function: ease;
    background-color: #37b3ed;
} */






/* ----About Section---- */
.about_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about h2{
    font-size: 40px;
    color: #37b3ed;
    text-align: center;
}





.mission_container{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    /* background-image: url("assets/images/backgrounds/bg-79.jpg"); */
    background-size: cover;
}
.mission{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #A8A9B4;
    padding-top: 10px;
}

.mission >h2{
    font-size: 40px;
    color: #37b3ed;
    text-align: center;
}

.fa-bullseye{
    font-size: 150px;
    
}
.vision{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #A8A9B4;
    padding-top: 10px;
}
.vision >h2{
    font-size: 40px;
    color: #37b3ed;
    text-align: center;
}

.fa-lightbulb{
    font-size: 150px;
    
}


/* Courses we offer */

.offer_container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.offer_container h2{
    font-size: 150%;
}

.courses{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.course{
    width: 30%;
    height: auto;
    box-shadow: 0px 0px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.course_details{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.course_pic{
    width: 40%;
    height: 150px;
    background-image: url("assets/images/fedinand/ani2.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic2{
    width: 40%;
    height: 150px;
    background-image: url("assets/images/fedinand/bio1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic3{
    width: 40%;
    height: 150px;
    background-image: url("assets/images/fedinand/biochem4.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic4{
    width: 40%;
    height: 150px;
    background-image: url("assets/images/fedinand/chem1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic5{
    width: 40%;
    height: 150px;
    background-image: url("assets/images/fedinand/micro1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_pic6{
    width: 40%;
    height: 150px;
    background-image: url("assets/images/fedinand/phy1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.course_title{
    width: 50%;
    height: auto;
}
.watch{
    width: 40%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #00000030;
    font-weight: bold;
    border-radius: 10px;
    color: #A8A9B4;
}
.watch:hover{
    color: #1D1D1F;
    background-color: #ca7e1b;
    transition: 1s;
}
.play{
    width: 100%;
    height: 100%;
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A8A9B4;
    background-color: #00000061;
}


/* Team Section */

.team_container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
}
.team_container h2{
    font-size: 150%;
}

.team_mates_details{
    width: 80%;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0,0.2);

}
.team_mate{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0,0.09);
    box-sizing: border-box;
    padding-top: 5%;
}

.team_info{
    width: auto;
    height: auto;
    
}


.team_pic{
    width: 70%;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/team8.jpg");
    border-radius: 5px;
}
/* .name{
    width: 70%;
    height: auto;
    background-color: #a8a9b452;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.dept{
    width: 70%;
    height: auto;
    background-color: #a8a9b452;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
} */





/* Event Div */

.slider-container {
    background: linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  
  .slider {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
  }
  
  .slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }

  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
  }
  
