@media only screen and (max-width:468px) and (min-width:320px) {
    .top_header{
        height: 30px;
    }
    .big_header{
        height: 200px;
    }

    #about_container{
        height: 850px;
        justify-content: space-between;
    }
    #service_big_box{
        margin-left: 10%;
        grid-template-columns: auto;
    }

    .topic h3{
        font-size: 11px;
    }
    .topic {
        line-height: 15px;
        font-size: 10px;
    }
    .topic p{
        font-size: 1.2em;

    }

    h2{
        font-size: 17px;
    }
    h1{
        font-size: 17px;
    }
    .overlay p{
        width: 90%;
        font-size: 10px;
        margin-top: 20px;
        line-height: 19px;
    }
    
    .mission_container{
        height: 300px;
    
    }
    .mission{
        height: 250px;
        width: 45%;
    }
    .mission p{
        font-size: 10px;
        line-height: 20px;
    }
    .fa-bullseye,
    .fa-lightbulb{
        font-size: 40px;
        margin-top: 1%;
    }
    

    /* Course Section */

    .news_container{
        width: 95%;
        margin: 2.5%;
        height: 300px;

       
    }
    .course_slider{
        width: 90%;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    .course_slidepart{
        height: 200px;
        align-items: center;
        
    }

    .dot-container{
        width: 250px;
        margin: 0px;

    }
    #next,#prev,
    #team_next,#team_prev{
        height: 50px;
        width: 6%;
    }
    
    .test_course{
        height: 130px;
        width: 39%;
        
    }
    .test_course_details{
       
        justify-content: space-between;
        
    }
    .test_course_title{
        width: 45%;
    }
    .test_course_pic{
        height: 80px;
        width: 50%;
        border-radius: 9px;
    }
    .test_course_title h4{
        font-size: 6px;
    }
    .test_course_title p{
        font-size: 7px;
    }
    .test_watch{
        height: 10px;
        width: 37%;
        font-size: 5px;
    }
    .fa-circle-play{
        font-size: 35px;
    }
   
    
   
  
  



    /* Event Section */

  .event_container{
    height: 1100px;
  }
    .events{
        width: 95%;
    }
    .event_pic{
        width: 40%;
        height:300px ;
        border-radius: 10px;
    }
    .event_details{
        width: 55%;
    }
    .event_details p{
        font-size: 10px;
        line-height: 20px;
    }
    .event_details h4{
        font-size: 10px;
    }

/* Team Section */
    .team_container{
        height:300px;
        
        
    }
    .team_slider{
        height: 200px;
    }
   .team{
    height: 170px;
    
   }
   
    .slidepart{
        height: 150px;
        align-items: center;
        
    }
    


    .team_mate{
        width: 28%;
        height: 120px;
    }
    .team_pic{
        width: 80%;
        height: 80px;
    }
    .team_info h5{
        height: 5px;
        font-size: 8px;
    }
    .team_info p{
        font-size: 8px;
    }
  
    .doter-container{
        width: 250px;
        margin: 0px;
       
    }
  
   



  /* Footer Section */
   
   .footer{
    position: relative;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50% ;
    padding-left: 5%;
    box-sizing: border-box;

   }
   #foot1{
    width: 70%;
    height: 200px;
    
   }
   .foot{
    width: 100%;
    height: 200px;
   }
   /* .foot_logo{
    width: 80%;
   } */
   .foot p{
    width: 100%;
    font-size: 11px;
    line-height: 1.8em;
   }
  
   .foot a li{
    width: 100%;
        font-size: 10px;
   }
   #link_first{
    font-size: 14px;

   }
   .copy{
    margin: 0px;
    transform: translate(0px,360px);
    font-size: 8px;
    position: absolute;

   }


}


@media only screen and (max-width:640px) and (min-width:468px) {
    .top_header{
        height: 30px;
    }
    .big_header{
        height: 250px;
    }
    #about_container{
        height: 750px;
        justify-content: space-evenly;
    }
    #service_big_box{
        margin-left: 10%;
        grid-template-columns: auto;
    }
    .topic h3{
        font-size: 13px;
    }
    .topic p{
        font-size: 13px;
    }
    h2{
        font-size: 20px;
    }
    h1{
        font-size: 17px;
    }
    .overlay p{
        width: 90%;
        font-size: 12px;
        line-height: 20px;
    }
   
    .mission_container{
        margin-top: 70px;
        height: 300px;
    }
    .mission{
        width: 45%;
        height: 250px;
    }
    .mission p{
        font-size: 12px;
        line-height: 20px;
    }
    .fa-bullseye,
    .fa-lightbulb{
        font-size: 60px;
    }
    
    /* Course Section */

   
    .news_container{
        width: 95%;
        margin: 2.5%;
        height: 300px;

       
    }
    .course_slidepart{
        height: 200px;
        align-items: center;
        
      }
    .dot-container{
        width: 250px;
        margin: 0px;

    }
    #next,#prev,
    #team_next,#team_prev{
        height: 50px;
        width: 5%;
    }
    .test_course{
        height: 150px;
        width: 40%;
        
    }
    .test_course_details{
       
        justify-content: space-between;
        
    }
    .test_course_title{
        width: 46%;
    }
    .test_course_pic{
        height: 120px;
        width: 50%;
        border-radius: 9px;
    }
    .test_course_title h4{
        font-size: 8px;
    }
    .test_course_title p{
        width: 95%;
        font-size: 8px;
    }
    .test_watch{
        height: 15px;
        width: 40%;
        font-size: 8px;
    }
    .fa-circle-play{
        font-size: 40px;
    }
   
    


    /* Event Section */

    .event_container{
        height: 1000px;
    }
    .events{
        width: 95%;
        
    }
    .event_pic{
        width: 40%;
        height: 250px;
        border-radius: 10px;
    }
    .event_details{
        width: 55%;
    }
    .event_details h4{
        font-size: 12px;
    }
    .event_details p{
        font-size: 12px;
        line-height: 20px;
    }
    /* Team Section */
    .team_container{
        height:350px;
        
        
    }
    .team_slider{
        height: 200px;
    }
    .team{
    height: 170px;

    }

    .slidepart{
        height: 170px;
        align-items: center;
        
    }



    .team_mate{
        width: 28%;
        height: 150px;
    }
    .team_pic{
        width: 80%;
        height: 80px;
    }
    .team_info h5{
        height: 5px;
        font-size: 8px;
    }
    .team_info p{
        font-size: 8px;
    }

    .doter-container{
        width: 250px;
        margin: 0px;
    
    }


  /* Footer Section */
  /* footer */
  .footer{
    position: relative;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50% ;
    box-sizing: border-box;

   }
   #foot1{
    width: 70%;
    height: 200px;
    
   }
   .foot{
    width: 100%;
    height: 200px;
    padding-left: 5%;
   }
   .foot_logo{
    width: 80%;
   }
   .foot p{
    width: 100%;
    font-size: 13px;
    line-height: 1.2em;
   }
   .download{
        width: 70%;
        height: 25px;
        font-size: 11px;
        
   }
   .foot a li{
        width: 100%;
        font-size: 14px;
   }
   #link_first{
    font-size: 15px;
    

   }
   .copy{
    margin: 0px;
    transform: translate(0px,370px);
    font-size: 8px;
    position: absolute;

   }


}

@media only screen  and (max-width:992px) and (min-width:640px){
    #about_container{
        height: 1200px;
        justify-content: space-evenly;
    }
    #service_big_box{
        margin-left: 10%;
        grid-template-columns: auto;
    }
    .overlay > p{
        width: 85%;
        line-height: 30px;
    }
    .mission_container{
        height: 900px;
        
        
    }
    .mission{
        height: 400px;
       
    }
    .fa-bullseye{
        height: 50px;
        font-size: 70px;
    }
    .fa-lightbulb{
        height: 50px;
        font-size: 70px;
    }
    
/* Course Section */


.news_container{
    width: 95%;
    margin: 2.5%;
    height: 400px;

   
}
.course_slider{
    width: 90%;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.course_slidepart{
    height: 200px;
    /* align-items: center; */
    
}

.dot-container{
    width: 250px;
    margin: 0px;

}
#next,#prev,
#team_next,#team_prev{
    height: 50px;
    width: 6%;
}

.test_course{
    height: 150px;
    width: 45%;
    
}
.test_course_details{
   
    justify-content: space-between;
    
}
.test_course_title{
    width: 45%;
}
.test_course_pic{
    height: 80px;
    width: 50%;
    border-radius: 9px;
}
.test_course_title h4{
    font-size: 9px;
}
.test_course_title p{
    width: 95%;
    font-size: 10px;
}
.test_watch{
    height: 25px;
    width: 37%;
    font-size: 9px;
}
.fa-circle-play{
    font-size: 35px;
}









}